@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.hidden {
  display: none;
}

div {
  margin-bottom: 6px;
  box-sizing: border-box;
  }

h1 {
  font-family: 'Oswald', sans-serif;
  margin-top: 45px;
  margin-left: 25px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

/*#section1 {
  height: 600px;
  background-color: pink;
}

#section2 {

  background-color: #FFF;
}*/

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

  /* Style the header */
  .start-page {
    
    float: left;
    margin-top: -73px;
    margin-right: -340px; 
    color: #2196F3;
    padding: 5px;
    font-size: 14px;
    border-right: none;
     
  }
.pic {
  margin-top: 45px;
  margin-left: 20px;
}
 
    
  .cart-page [data-action="order"]{
    font-family: 'VT323';
    font-size: 3vh;
    padding: .5vh;
    cursor: pointer;
    position: absolute;
    bottom: 20vh;
    right: 30vh;
    color: #fff;
    background-color: rgb(5, 4, 10);
  }
  .error {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
  }
  .emptyCart{
    font-family: 'VT323';
    font-size: 3vh;
    /*padding: .5vh;
    cursor: pointer;
    position: absolute;
    bottom: 20vh;
    left: 55vh;
    color: #fff;
    background-color: rgb(5, 4, 10);*/
  }
  .checkout{
    font-family: 'VT323';
    font-size: 3vh;
    /*padding: .5vh;
    cursor: pointer;
    position: absolute;
    bottom: 20vh;
    left: 55vh;
    color: #fff;
    background-color: rgb(5, 4, 10);*/
  }
  

  
  /* Style the search field */
  .search input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #4CAF50;
    padding: 10px;
    border-radius: 25px;
    float: left;
    width: 49%;
    margin-top: 55px;
    margin-left: 180px;
    background: #f1f1f1;
    
  }

  .center {
    margin: auto;
    width: 94%;
    padding: 10px;
  }
  

  .search-page {
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    font-size: 20px;
    border: 1px solid grey;
    float: center;
    width: 90%;
    margin-top: 85px;
    margin-left: 75px;
    background: #f1f1f1;

  }
  
  /* Style the submit button */
  .search button {
    margin-top: 55px;
    /*background: #2196F3;
    width:13%;
    padding: 10px;
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    border-left: none; */ /* Prevent double borders */
    /*cursor: pointer;*/
  }
  
  /*.search button:hover {*/
   /* background: #0b7dda;*/
  /*} */
  
  /* Clear floats */
  .search::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .shoppingcart {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
    margin-right: 10px; 

  }
  
  .logga-in {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 20px;
  margin-right: 130px; 
     
  }

  .cart-items [data-action="pressRemove"]{
    font-family: 'Oswald', sans-serif;
    font-size: 3vh;
    padding: .5vh;
    cursor: pointer;
    position: absolute;
    bottom: 20vh;
    left: 55vh;
    color: #fff;
    background-color: rgb(5, 4, 10);
  }

  .bokstavsordning{
    font-size: 3vh;
    margin-right: 10px; 
  }

.quantity-and-add {
  width: 100px;
  position: absolute;
  right: 70px;
  bottom: -15px;
}

  .search-result-page-nav span {
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid #999;
    margin-right: 10px;
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
  }

  .search-result-page-nav div {
    margin-top: 10px;
    font-size: 70;
  }
  
  .current-page {
    background-color: blue;
    color: white;
  }
.quantity-and-add-holder {
  position:relative;
}